{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <a href="{% url 'product_list' %}">Back to Products</a>

    <h1>{{ product.name }}</h1>
    {% if product.image %}
        <img src="{{ product.image_url }}" width="300"><br>
    {% endif %}
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }} EGP</p>
    <p>Stock: {{ product.stock }}</p>
    <p>Category: {{ product.category.name }}</p>
</body>
</html>